<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sopt.havit">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_havit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_havit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Havit"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.category.CategoryAddActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 상태표시줄에 뜨는 아이콘 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_havit_radious_10" />
        <!-- 상태표시줄에 뜨는 앱 이름 텍스트 컬러 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/havit_gray" />

        <activity
            android:name=".ui.web.WebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contents.ContentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.CategoryContentModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.category.CategoryOrderModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contents_simple.ContentsSimpleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.HomeCategoryAllActivity"
            android:exported="true" />
        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.kakao.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao6069fb41c205cbbf8f213b32eec7f2c8" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>